{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row center-block" >
            <div class="col-md-11" style="margin: 0 65px;">
                <center>
                    <h1>Liste des Evenements</h1>
                    <a href="{{ path('evenement_ajout') }}" style="margin-left: 900px;" class="btn btn-primary">Ajouter</a>
                    {# total items count #}
                    <div class="count">
                        {{ pagination.getTotalItemCount }}
                    </div>
                    <table class="table table-bordered table-hover" >
                        <tr>
                            {# sorting of properties based on query components #}

                            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
                            </th>
                            <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
                            </th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Date debut</th>
                            <th>Date fin</th>
                            <th>Nombre de place </th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>

                        {# table body #}
                        {% for evenement in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>

                                <td>{{ evenement.title }}</td>
                                <td>{{ evenement.categories }}</td>
                                <td><img style="max-height: 50px;max-width: 100px" src="{{ asset('uploads/images/events/'~ evenement.imagePath) }}"/></td>
                                <td>{{ evenement.description }}</td>
                                <td>{{ evenement.datedebut | date ("d-M-y") }}</td>
                                <td>{{ evenement.datefin | date ("d-M-y") }}</td>
                                <td>{{ evenement.nombreparticipants}}</td>
                                <td><a href=" {{path('evenement_modifier',{'id':evenement.id})  }}">Modifier</a></td>
                                {#                                    <td><a href="{{path('evenement_supprimer',{'id':evenement.id}) }}">Supprimer</a></td>#}
                                <td><a href="{{path('evenement_supprimer',{'id':evenement.id})}}">Supprimer</a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>














                </center>
            </div>
        </div>
    </div>
{% endblock %}